<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Riot Example</title>
  <link rel="shortcut icon" href="" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.3.4/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" rel="stylesheet" type="text/css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.12/riot.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.3.4/js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/ckeditor.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.4/adapters/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="index.js" type="text/javascript" charset="utf-8"></script>
  <script src="router.js" type="text/javascript" charset="utf-8"></script>
  <script src="tag.js" type="text/javascript" charset="utf-8"></script>

  <script src="on-key-up.js" type="text/javascript" charset="utf-8"></script>
  <script src="two-way-binding.js" type="text/javascript" charset="utf-8"></script>
  <script src="index-of.js" type="text/javascript" charset="utf-8"></script>

  <script src="init.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/#on-key-up">On Key Up</a></li>
        <li><a href="/#two-way-binding">Two Way Binding</a></li>
        <li><a href="/#index-of">IndexOf</a></li>
      </ul>
    </nav>
  </header>

  <on-key-up></on-key-up>
  <two-way-binding></two-way-binding>
  <index-of></index-of>

</body>
</html>
