
<div each="{controls}" class="container">
  <label>{name}</label>

  <div if="{control.text}">
    <input type="text" onchange="{sync}" value="{value}" />
  </div>

  <div if="{control.select}">
    <select onchange="{sync}" class="chosen">
      <option value=""></option>
      <option each="{options}" value="{value}">{text}</option>
    </select>
  </div>

  <div if="{control.radio}" onchange="{sync}">
    <label each="{options}">
      <input type="radio" name="group{name}" value="{value}" /> {text}
    </label>
  </div>

  <div if="{control.number}">
    <input type="number" onchange="{sync}" value="{value}" step="any" />
  </div>

  <div if="{control.date}">
    <input type="text" onchange="{sync}" value="{value}" class="datetime" autocomplete="off" />
  </div>

  <div if="{control.textarea}">
    <textarea onchange="{sync}" class="ckeditor">{value}</textarea>
    <input type="hidden" onchange="{sync}" value="{value}" />
  </div>
</div>

<button onclick="{send}" class="btn pull-right">Send</button>
