
<h4>Single Select All</h4>

<select onchange="{changeSingle}" class="single-all">
  <option></option>
  <option each="{single}" __selected="{item === verbose}" value="{verbose}">{verbose}</option>
</select>


<h4>Single Select AJAX</h4>


<h4>Multi Select All</h4>

<select onchange="{changeMultiple}" class="multiple-all" multiple="multiple">
  <!-- <option></option> -->
  <option each="{multiple}" __selected="{items.indexOf(verbose) !== -1}" value="{verbose}">{verbose}</option>
</select>


<h4>Multi Select AJAX</h4>
