<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Riot Example</title>
  <link rel="shortcut icon" href="" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.2.4/riot+compiler.js" type="text/javascript" charset="utf-8"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/#home">Home</a></li>
        <li><a href="/#blog">Blog</a></li>
        <li><a href="/#about">About</a></li>
      </ul>
    </nav>
  </header>

  <content></content>
  
  <footer>
    <p>Copyright</p>
  </footer>

</body>
</html>